body {
    margin: 5px;
    padding: 0;
    font-size: 0.7em;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #eee;
    background-color: #000;
}

table {
    border-collapse: collapse;
    border-color: #000;
    background-color: #000;
}

table th {
    background-color: #da2;
    color: #000;
    border: 1px solid #000;
    vertical-align: top;
    padding: 5px;
    font-size: 1em;
}

table td {
    border: 1px solid #000;
    color: #fff;
    vertical-align: top;
    padding: 3px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    white-space: nowrap;
}

table.hdr {
    border: 1px solid #fff;
    width: 100%;
    margin: 2px;
}

table.hdr td {
    background-color: #555;
    border: 0;
    vertical-align: top;
    text-align: left;
    padding: 1px;
}

table.hdr a {
    color: #ddf;
}

table.object a {
    color: #ccf;
}

table.empty {
    border: 1px solid #ccc;
    margin: 0;
}

table.empty td {
    background-color: #bbb;
    border: 0;
    vertical-align: top;
    text-align: left;
    padding: 2px;
}

#header {
    position: relative;
    margin: 2px;
    padding: 0;
    white-space: nowrap;
    background-color: #000;
    color: #fff;
}

#logo {
    position: relative;
    left: 0;
    text-align: left;
}

#logo img {
    border-width: 0;
}

#acc {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    vertical-align: top;
}

#time {
    position: absolute;
    top: 48px;
    right: 0;
    width: 100%;
    text-align: right;
    vertical-align: top;
}

#topnav {
    position: relative;
    top: 2px;
    background-color: #aaa;
    color: #000;
    border-top: 1px solid #ccc;
    font-size: 1em;
    margin-top: 5px;
    padding: 0.1em 0;
    white-space: nowrap;
    width: 100%;
}

#topnav h1 {
    background-color: transparent;
    border: 0 none;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0;
    padding: 0 0 0 0.3em;
}

#topnav ul {
    line-height: 1em;
    list-style: none outside none;
    margin: 0;
    padding: 0.47em 0;
    text-align: right;
}

#topnav ul li {
    display: inline;
    float: none;
    margin: 0;
    padding: 5px;
}

#topnav a:link {
    color: #220;
    text-decoration: none;
}

#topnav a:visited {
    color: #220;
    text-decoration: none;
}

#topnav a:hover {
    color: #220;
    text-decoration: underline;
}

#footer {
    text-align: center;
    font-size: 7pt;
    color: #888;
    margin-top: 50px;
}

a {
    color: #fcd15c;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: #c00;
}
