.row1 {
    background-color: #222;
}

.row2 {
    background-color: #333;
}

.row3 {
    background-color: #111;
}

.rowh {
    text-align: center;
    background-color: #222;
    color: #bfb;
    font-size: 13pt;
}

tr.rowl td {
    background-color: #111;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 13pt;
    height: 40px;
}

.navsub {
    font-size: 13pt;
    white-space: nowrap;
    background-color: #555;
    border-top: solid 1px #ccc;
    padding: 6px;
}

.navfilter {
    font-size: 11pt;
    white-space: nowrap;
    background-color: #555;
    border-top: solid 1px #ccc;
    padding: 2px;
}

.navclass {
    font-size: 11pt;
    white-space: nowrap;
    background-color: #444;
    border-top: solid 1px #ccc;
    padding: 2px;
}

.navstage {
    font-size: 11pt;
    white-space: nowrap;
    background-color: #222;
    border-top: solid 1px #ccc;
    padding: 2px;
}

.navcur {
    color: #f66;
}

table.main {
    background: #000;
    border: none;
    width: 100%;
    padding: 20px;
}

table.main td.main {
    border: 1px #333 solid;
    color: #fff;
}

table.main td.main h3 {
    background: #444;
}

table.main td.roadbook {
    border: none;
    color: #fff;
}

table.schedule a {
    color: #fee;
}

table.champ a {
    color: #fee;
}

table.member a {
    color: #fee;
}

table.result a {
    color: #fee;
}

table.results a {
    color: #fee;
}

table.standings a {
    color: #fee;
}

table.participants a {
    color: #fee;
}

table.stages td {
    border-color: #aaa;
}

table.stages a {
    color: #cc8;
}

table.navchamp {
    width: 100%;
}

table.navchamp td {
    font-size: 12px;
}

table.standings th.past {
    background-color: #373;
}

table.standings th.future {
    background-color: #830;
    font-style: italic;
}

table.standings td.points {
    text-align: right;
}

table.standings td.scrap_points {
    text-align: right;
    text-decoration: line-through;
    color: #e22;
}

table.top3 {
    background-color: #fff;
    border: 1px solid black;
}

table.top3 td {
    color: #000;
    text-align: center;
    border: none;
    padding: 20px;
}

table.top3 td.trophy {
    vertical-align: bottom;
}

table.top3 td.name {
    vertical-align: middle;
}

tr.current td {
    background-color: #afa;
    color: #000;
}

tr.current a {
    color: #440;
}

tr.future td {
    background-color: #faa;
    color: #000;
}

tr.future a {
    color: #440;
}

table.schedule td.past {
    background-color: #aaa;
    color: #000;
    font-weight: bold;
}

table.schedule td.current {
    background-color: #afa;
    color: #000;
    font-weight: bold;
}

table.schedule td.future {
    background-color: #faa;
    color: #000;
    font-weight: bold;
}
