body {
    margin: 0 0 0 27px;
    padding: 0;
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

table th {
    background-color: #da2;
    color: #000;
}

.upcoming {
    text-align: center;
}

table.schedule a {
    color: #fee;
}

table.schedule td.past {
    color: #000000;
    background-color: #aaa;
    font-weight: bold;
}

table.schedule td.current {
    color: #000000;
    background-color: #afa;
    font-weight: bold;
}

table.schedule td.future {
    color: #000;
    background-color: #faa;
    font-weight: bold;
}

.row1 {
    background-color: #222;
}
.row2 {
    background-color: #333;
}
.row3 {
    background-color: #111;
}

table td {
    border: none;
    vertical-align: top;
    padding: 3px;
    white-space: nowrap;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
