body {
    font-family: monospace;
    font-size: 10pt;
}

p {
    margin: 0.5em;
}

.prompt, #output {
    width: 60em;
    border: 1px solid silver;
    background-color: #f5f5f5;
    font-size: 10pt;
    margin: 0.5em;
    padding: 0.5em;
    padding-right: 0em;
    overflow-x: hidden;
}

#toolbar {
    margin-left: 0.5em;
    padding-left: 0.5em;
}

#caret {
    width: 2.5em;
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
}

#statement {
    width: 58em;
    margin-left: -1em;
    padding-left: 0px;
    border-left: 0px;
    background-position: top right;
    background-repeat: no-repeat;
}

.processing {
    background-image: url("/images/spinner.gif");
}

#ajax-status {
    font-weight: bold;
}

.message {
    color: #8AD;
    font-weight: bold;
    font-style: italic;
}

.error {
    color: #F44;
}

.username {
    font-weight: bold;
}
