{% extends "main_base.html" %}

{% block main_sub %}
  <script type="text/javascript">
    var GOOG_FIXURL_LANG = 'en';
    var GOOG_FIXURL_SITE = '{{ host_url }}/';
  </script>
  <script type="text/javascript"
          src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
{% endblock %}
