{% extends "admin_base.html" %}

{% block sub %}
  <table class="object">
    <tr>
      <th>id</th>
      <th>Banner</th>
      <th>Name</th>
    </tr>
    {% for team in teams %}
      <tr>
        <td><a href="{{ team.key }}/">{{ team.key.id }}</a></td>
        <td>{% if team.banner %}<img src="{{ team.key }}/image/" alt="banner"/>{% else %}Banner not set.{% endif %}</td>
        <td>{{ team.name }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><input type="button" value="Add team" onclick="self.location='add/'"/></p>
{% endblock %}
