{% extends "admin_base.html" %}

{% block sub %}
  <form action="" method="post">
    <table>
      {{ form.as_table|safe }}
    </table>
    <p>
      <input type="submit" value="Submit" name="submit"/>
      <input type="reset" value="Reset" name="reset"/>
      <input type="button" value="Delete" onclick="self.location='delete/'"/>
      <input type="button" value="Cancel" onclick="self.location='/admin/champ/'"/>
    </p>
  </form>

  <h2 id="rallies">Rallies</h2>
  <table class="object">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Short name</th>
      <th>Date</th>
      <th>Sessions</th>
      <th>Legs</th>
      <th>Stages</th>
      <th>Result type</th>
      <th>Imported roadbook</th>
      <th>Imported results</th>
    </tr>
    {% for rally in rallies %}
      <tr>
        <td><a href="/admin/rally/{{ rally.key }}/">{{ rally.key.id }}</a></td>
        <td>{{ rally.name }}</td>
        <td>{{ rally.short_name }}</td>
        <td>{{ rally.period_str }}</td>
        <td>{{ rally.session_count }}</td>
        <td>{{ rally.leg_count }}</td>
        <td>{{ rally.stage_count }}</td>
        <td>{{ rally.result_type }}</td>
        <td>{{ rally.imported_roadbook }}</td>
        <td>{{ rally.imported_results }}</td>
      </tr>
    {% endfor %}
  </table>
  <p>
    <input type="button" value="Add rally" onclick="self.location='rally/add/'"/>
    <input type="button" value="Import rally" onclick="self.location='rally/import/'"/>
  </p>
  <form action="rally/import_file/" enctype="multipart/form-data" method="post">
    <table>
      <tr>
        <th><label for="id_roadbook">Or upload roadbook CSV:</label></th>
      </tr>
      <tr>
        <td><input type="file" name="roadbook" id="id_roadbook"/></td>
      </tr>
    </table>
    <p><input type="submit" value="Import"></p>
  </form>

  <p>
  Or import all rallies: Copy/paste a pipe separated list of rallies, exported by the roadbook tool:
  </p>
  <form action="import/" method="post">
    <textarea id="id_rallies" rows="12" cols="60" name="rallies"></textarea>
    <p><input type="submit" value="Import rallies"/></p>
  </form>

  <p><input type="button" value="Flush results cache" onclick="self.location='_flushcache/'"/></p>

  <h2 id="blacklisted_drivers">Blacklisted Drivers</h2>
  <table class="object">
    {% for driver in form.instance.blacklisteddriver_set %}
      <tr>
        <td>{{ driver.plugin_id }}</td>
        <td><input type="button" value="Have mercy"
                   onclick="self.location='/admin/blacklist/{{ driver.key }}/delete/'"/></td>
      </tr>
    {% endfor %}
  </table>
  <form action="blacklist/add/" method="post">
    <p>
      <label for="id_plugin_id">Plugin id(s):</label>
      <input type="text" name="plugin_id" value="" id="id_plugin_id"/>
      <input type="submit" value="Blacklist 'em!" name="submit"/>
    </p>
  </form>

  <h2 id="drivers">Drivers</h2>
  <table class="object">
    <tr>
      <th>id</th>
      <th>Member</th>
      <th>Plugin ID</th>
      <th>Class</th>
      <th>Active</th>
      <th>Since</th>
    </tr>
    {% for driver in drivers %}
      <tr>
        <td><a href="/admin/driver/{{ driver.key }}/">{{ driver.key.id }}</a></td>
        <td>{{ driver.member }}</td>
        <td>{{ driver.plugin_id }}</td>
        <td>{{ driver.car_class }}</td>
        <td>{{ driver.active }}</td>
        <td>{{ driver.sdate_str }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><input type="button" value="Add driver" onclick="self.location='driver/add/'"/></p>
  <form action="driver/generate/" method="post">
    <input type="submit" value="Auto add drivers" name="submit"/>
  </form>

  <p><a href="/admin/champ/">Back</a></p>

{% endblock %}
