{% extends "admin_base.html" %}

{% block sub %}
  <p>Championship: {{ champ }}</p>
  <p>Enter a rally name and press the Import button. This will import the rally, including stages, from the roadbook, if
    available.</p>

  {% if error %}
    <div class="error">{{ error }}</div>{% endif %}

  <form action="" method="post">
    <p><input type="text" id="name" name="name" value="{{ name }}"/></p>

    <p>
      <input type="submit" value="Import" name="submit"/>
      <input type="button" value="Cancel" onclick="self.location='/admin/champ/{{ champ.key }}/#rallies'"/>
    </p>
  </form>
{% endblock %}
