{% extends "admin_base.html" %}

{% block sub %}
  <p>Note: News about team changes is generated automatically.</p>
  <table class="object">
    <tr>
      <th>id</th>
      <th>Date</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
    {% for news_item in news_items %}
      <tr>
        <td><a href="/admin/news/{{ news_item.key }}/">{{ news_item.key.id }}</a></td>
        <td>{{ news_item.date }}</td>
        <td>{{ news_item.title }}</td>
        <td>{{ news_item.body }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><input type="button" value="Add news item" onclick="self.location='add/'"/></p>

{% endblock %}
