{% extends "admin_base.html" %}

{% block js_head %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block sub %}
  <p>Championship: {{ champ }}</p>

  <table class="empty">
    <tr>
      <td>
        <form action="" method="post">
          <table>
            {{ form.as_table|safe }}
          </table>
          <p>
            <input type="submit" value="Submit" name="submit"/>
            <input type="reset" value="Reset" name="reset"/>
            <input type="button" value="Delete" onclick="self.location='delete/'"/>
            <input type="button" value="Cancel" onclick="self.location='/admin/champ/{{ champ.key }}/#rallies'"/>
          </p>
        </form>
      </td>

      <td>
        <table>
          <tr>
            <td>
              <form action="image/import/" enctype="multipart/form-data" method="post">
                <table>
                  <tr>
                    <th><label for="id_image">Upload image file:</label></th>
                  </tr>
                  <tr>
                    <td><input type="file" name="image" id="id_image"/></td>
                  </tr>
                </table>
                <p>
                  The image width will always be scaled to {{ image_width }} pixels.
                </p>

                <p>
                  <input type="submit" value="Upload">
                </p>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <th>Preview:</th>
                </tr>
                <tr>
                  <td>
                    {% if form.instance.image_data %}<img src="image/" alt="flyer"/>{% else %}Image not set.{% endif %}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  {% if not champ.closed %}
    <form action="import/" method="post">
      <input type="submit" value="Reimport rally" name="submit"/>
    </form>

    <h2>Results</h2>
    {% if form.instance.are_results_imported %}
      Overall results were imported.
    {% else %}
      Overall results are not yet imported.
    {% endif %}

    {% if form.instance.imported_results %}
      <p>
        <input type="button" value="Flush results cache" onclick="self.location='_flushcache/'"/>
      </p>
      <form action="clear_results/" method="post">
        <input type="submit" value="Clear all imported results" name="submit"/>
        {% if champ.is_public %}
          <strong>BEWARE: the results have been imported from a public session and can only be reimported if the results
            are still available on the plugin site!</strong>
        {% endif %}
      </form>
    {% endif %}

    {% if form.instance.is_finished %}
      <form action="delete_driver/" method="post">
        <p>
          <label for="id_plugin_id">Plugin id(s):</label>
          <input type="text" name="plugin_id" value="" id="id_plugin_id"/>
          <input type="submit" value="Delete driver results" name="submit"/>
        </p>
      </form>
      {% if form.instance.are_results_imported %}
        <form action="clear_overall_results/" method="post">
          <p><input type="submit" value="Clear overall results" name="submit"/></p>
        </form>
      {% else %}
        {% if not form.instance.imported_results %}
          <p><button id="import_stage_results">Import all results</button></p>
        {% endif %}
        <form action="import_overall_results/" method="post">
          <p><input id="import_overall_results" type="submit" value="Import overall results" name="submit"/></p>
        </form>
      {% endif %}
      {% if form.instance.imported_results %}
        {% if champ.is_unofficial %}
          <form action="import_official_overall_results/" method="post">
            <input type="submit" value="Import official overall results" name="submit"/>
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  <h2 id="stages">Stages</h2>
  {% if stages.count %}
    <table class="object">
      <tr>
        <th>ID</th>
        <th>Nr.</th>
        <th>Nr. in leg</th>
        <th>Start boucle</th>
        <th>Name</th>
        <th>RBR name</th>
        <th>Mod</th>
        <th>Weather</th>
        <th>Wear</th>
        <th>Grip</th>
        <th>Time of day</th>
        <th>Results</th>
      </tr>
      {% for stage in stages %}
        <tr>
          <td><a href="/admin/stage/{{ stage.key }}/">{{ stage.key.id }}</a></td>
          <td>{{ stage.nr }}</td>
          <td>{{ stage.nr_in_leg }}</td>
          <td>{{ stage.tyre_change }}</td>
          <td>{{ stage.name }}</td>
          <td>{{ stage.rbr_name }}</td>
          <td>{{ stage.mod }}</td>
          <td>{{ stage.weather }}</td>
          <td>{{ stage.wear }}</td>
          <td>{{ stage.grip }}</td>
          <td>{{ stage.time_of_day }}</td>
          <td>
            {% if stage.are_results_imported %}
              {% if not champ.is_public %}
                <form action="/admin/stage/{{ stage.key }}/clear_results/" method="post">
                  <input type="submit" value="Clear" name="submit"/>
                </form>
              {% else %}
                Imported
              {% endif %}
            {% else %}
              <form action="/admin/stage/{{ stage.key }}/import_results/" method="post">
                <input id="stage{{ forloop.counter0 }}" type="submit" value="Import" name="submit"/>
                <span id="retry{{ forloop.counter0 }}"/>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

    {% if not champ.closed %}
      {% if not champ.is_public %}
        <form action="reimport/" method="post">
          <input type="submit" value="Update stages from roadbook" name="submit"/>
        </form>
      {% endif %}
    {% endif %}

  {% else %}
    <p>No stages</p>
  {% endif %}

{% endblock %}

{% block js_deferred %}
  <script type="text/javascript">
    var all = $('#import_stage_results');
    all.click(function() { exec(0); });
    var prefix = 'stage';
    var retry = 0;
    var stages = [ {% for stage in stages %} '{{ stage.key }}', {% endfor %} ]
    function exec(index) {
      if (index > stages.length) {
        window.location.reload();
      } else {
        var btn = index < stages.length ? $('#' + prefix + index) : $('#import_overall_results');
        if (!btn.length) {
          all.prop('disabled', false);
        } else {
          all.prop('disabled', true);
          if (retry > 0) {
            $('#retry' + index).text(retry);
          }
          btn.prop('disabled', true);
          var url = index < stages.length ?
              '/admin/stage/' + stages[index] + '/import_results/' :
              '/admin/rally/{{ form.instance.key }}/import_overall_results/';
          jQuery.post(url)
              .success(function() {
                btn.attr('value', 'Done');
                retry = 0;
                exec(index + 1);
              })
              .error(function() {
                btn.prop('disabled', false);
                var next = index;
                if (++retry > 3) {
                  retry = 0;
                  next++;
                }
                exec(next);
              });
        }
      }
    }
  </script>
{% endblock %}
