{% extends "admin_base.html" %}

{% block sub %}
  <table class="object">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Plugin</th>
      <th>Classes</th>
      <th>Hidden</th>
      <th>Closed</th>
      <th>Team cup</th>
    </tr>
    {% for champ in champs %}
      <tr>
        <td><a href="/admin/champ/{{ champ.key }}/">{{ champ.key.id }}</a></td>
        <td>{{ champ.name }}</td>
        <td>{{ champ.plugin }} {{ champ.plugin_version }}</td>
        <td>{{ champ.car_classes|join:", " }}</td>
        <td>{{ champ.visibility }}</td>
        <td>{{ champ.closed }}</td>
        <td>{{ champ.team_cup }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><input type="button" value="Add championship" onclick="self.location='add/'"/></p>

  <h1>Team Cups</h1>
  <table class="object">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Bonus</th>
    </tr>
    {% for teamcup in teamcups %}
      <tr>
        <td><a href="/admin/teamcup/{{ teamcup.key }}/">{{ teamcup.key.id }}</a></td>
        <td>{{ teamcup.name }}</td>
        <td>{{ teamcup.bonus_for_member_count }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><input type="button" value="Add team cup" onclick="self.location='/admin/teamcup/add/'"/></p>

{% endblock %}
