{% extends "admin_base.html" %}

{% block sub %}
  <ul>
    <li>Championship: {{ champ }}</li>
    <li>Rally: {{ rally }}</li>
    <li>Stage nr.: {{ form.instance.nr }}</li>
  </ul>

  <form action="" method="post">
    <table>
      {{ form.as_table|safe }}
    </table>
    <p>
      <input type="submit" value="Submit" name="submit"/>
      <input type="reset" value="Reset" name="reset"/>
      <input type="button" value="Cancel" onclick="self.location='/admin/rally/{{ rally.key }}/'"/>
    </p>
  </form>

{% endblock %}
