{% extends "admin_base.html" %}

{% block sub %}
  <table class="object">
    <tr>
      <th>id</th>
      <th colspan="2">Name</th>
      <th>Email address</th>
      <th>Default RSRBR id</th>
      <th>Default RBRTM id</th>
      <th>Retired</th>
    </tr>
    {% for member in members %}
      <tr>
        <td><a href="/admin/member/{{ member.key }}/">{{ member.key.id }}</a></td>
        <td><img src="/images/flags/{{ member.country }}.gif" alt="{{ member.country }}"/></td>
        <td>{{ member.name }}</td>
        <td>{{ member.email_address }}</td>
        <td>{{ member.rsrbr_id }}</td>
        <td>{{ member.rbrtm_id }}</td>
        <td>{{ member.retired }}</td>
      </tr>
    {% endfor %}
  </table>
  <p><input type="button" value="Add member" onclick="self.location='add/'"/></p>

  <p>
  To import members, copy/paste a tab separated list of members with the following columns:
  <ol>
    <li>Name</li>
    <li>Email</li>
    <li>Default RSRBR id</li>
    <li>Country code, default is "nl"</li>
  </ol>
  </p>
  <form action="import/" method="post">
    <textarea id="id_members" rows="20" cols="80" name="members"></textarea>
    <p><input type="submit" value="Import members"/></p>
  </form>
{% endblock %}
