{% extends "admin_base.html" %}

{% block sub %}
  <p>May the force be with you...</p>

  <h2>Site management</h2>
  <h3>News Management</h3>
  <a href="news/">Edit news items</a>

  <h3>Rally Management</h3>
  <ul>
    <li><a href="member/">Edit members</a></li>
    <li><a href="team/">Edit teams</a></li>
    <li><a href="champ/">Edit championships</a></li>
  </ul>

  <h3>Advanced</h3>
  <a href="/shell/">Interactive Python shell</a>

  <h2>Cache statistics</h2>
  <ul>
    <li>Hit ratio: {{ hit_ratio }}% ({{ hits }} hits and {{ misses }} misses)</li>
    <li>Size of cache: {{ items }} items, {{ bytes }} bytes</li>
    <li>Cache contains items up to {{ oldest_item_age_days }} days, {{ oldest_item_age_hours }}
      hours, {{ oldest_item_age_minutes }} minutes old.
    </li>
  </ul>
  <p><input type="button" value="Flush cache" onclick="self.location='_flushcache/'"/></p>

{% endblock %}
