{% extends "admin_base.html" %}

{% block sub %}
  <p>Result managers are allowed to import rally results. They are identified by an Open ID login account.</p>
  <table class="object">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    {% for result_manager in result_manager %}
      <tr>
        <td>{{ result_manager.user }}</td>
        <td>
          <form action="{{ result_manager.key }}/delete/" method="post"><input type="submit" name="submit"
                                                                               value="Delete"/></form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <p><input type="button" value="Add result manager" onclick="self.location='add/'"/></p>
{% endblock %}
