{% extends "admin_base.html" %}

{% block sub %}
  <p>Are you sure you want to delete &quot;{{ name }}&quot;?</p>
  <form action="" method="post">
    <p>
      <input type="submit" value="Yes" name="submit"/>
      <input type="button" value="No" onclick="self.location='{{ cancel_url }}'"/>
    </p>
  </form>
{% endblock %}
