{% extends "admin_base.html" %}

{% block sub %}
  <form action="" method="post">
    <table>
      {{ form.as_table|safe }}
    </table>
    <p>
      <input type="submit" value="Add" name="submit"/>
      <input type="reset" value="Reset" name="reset"/>
      <input type="button" value="Cancel" onclick="self.location='{{ cancel_url }}'"/>
    </p>
  </form>
{% endblock %}
