{% extends "admin_base.html" %}

{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="/js/shell.js"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/shell.css" type="text/css"/>
  {{ block.super }}
{% endblock %}


{% block sub %}

  <p> Interactive server-side Python shell for
    <a href="http://code.google.com/appengine/">Google App Engine</a>.
    (<a href="http://code.google.com/p/google-app-engine-samples/">source</a>)
  </p>

  <textarea id="output" rows="22" readonly="readonly">
    {{ server_software }}
    Python {{ python_version }}
  </textarea>

  <form id="form" action="shell.do" method="get">
    <nobr>
      <textarea class="prompt" id="caret" readonly="readonly" rows="4"
                onfocus="document.getElementById('statement').focus()"
          >&gt;&gt;&gt;</textarea>
      <textarea class="prompt" name="statement" id="statement" rows="4"
                onkeypress="return shell.onPromptKeyPress(event);"></textarea>
    </nobr>
    <input type="hidden" name="session" value="{{ session }}"/>
    <input type="submit" style="display: none"/>
  </form>

  <p id="ajax-status"></p>

  <p id="toolbar">
    Ctrl-Up/Down for history |
    <select id="submit_key">
      <option value="enter" selected="selected">Enter</option>
      <option value="ctrl-enter">Ctrl-Enter</option>
    </select>
    <label for="submit_key">submits</label>
  </p>

  <script type="text/javascript">
    document.getElementById('statement').focus();
  </script>

{% endblock %}
