{% extends "admin_base.html" %}

{% block sub %}
  <table class="empty">
    <tr>
      <td>
        <form action="" method="post">
          <table>
            {{ form.as_table|safe }}
          </table>
          <p>
            <input type="submit" value="Submit" name="submit"/>
            <input type="reset" value="Reset" name="reset"/>
            <input type="button" value="Delete" onclick="self.location='delete/'"/>
            <input type="button" value="Cancel" onclick="self.location='/admin/team/'"/>
          </p>
        </form>
      </td>

      <td>
        <form action="image/import/" enctype="multipart/form-data" method="post">
          <table>
            <tr>
              <th><label for="id_image">Upload banner image file:</label></th>
            </tr>
            <tr>
              <td><input type="file" name="image" id="id_image"/></td>
            </tr>
          </table>
          <p>
            The image width will always be scaled to {{ image_width }}x{{ image_height }} pixels.
          </p>

          <p>
            <input type="submit" value="Upload">
          </p>
        </form>
      </td>

      <td>
        <table>
          <tr>
            <th>Preview:</th>
          </tr>
          <tr>
            <td>{% if form.instance.banner %}<img src="image/" alt="banner"/>{% else %}Banner not set.{% endif %}</td>
          </tr>
        </table>
      </td>

    </tr>
  </table>


  <h2>Team Members</h2>
  <table class="object">
    <tr>
      <th>id</th>
      <th>Member</th>
      <th>Period</th>
    </tr>
    {% for team_member in team_members %}
      <tr>
        <td><a href="/admin/teammember/{{ team_member.key }}/">{{ team_member.key.id }}</a></td>
        <td>{{ team_member.member }}</td>
        <td>{{ team_member.period_str }}</td>
      </tr>
    {% endfor %}
  </table>
  <p>
    <input type="button" value="Add team member" onclick="self.location='member/add/'"/>
  </p>

  <p><a href="/admin/team/">Back</a></p>
{% endblock %}
