<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% spaceless %}
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% block head %}
      <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
      {% block title %}<title>{{ title }}</title>{% endblock %}
    {% endblock %}
    {% block css %}
      <link rel="stylesheet" href="/css/base.css" type="text/css"/>
    {% endblock %}
    {% block js_head %}
    {% endblock %}
  </head>

  <body>
  {% block body %}
    <div id="header">
      <div id="logo"><a href="/"><img src="/images/banner-rally-center.jpg" alt="mijnrally.nl Rally Center"/></a></div>
      <div id="acc">
        {% block header %}
          {% if user %}Welcome, <strong>{{ user }}</strong>
            {% if admin %} | <a href="/admin/">Admin console</a>{% endif %}
            {% if result_manager %} | <a href="/manager/">Manage Results</a>{% endif %}
            | <a href="{{ logout_url }}">Sign out</a>
          {% else %}
            <a href="{{ login_url }}">Sign in</a>
          {% endif %}
        {% endblock %}
      </div>
      <div id="time">
        <iframe src="http://free.timeanddate.com/clock/i1ksx41r/n16/fn3/fs12/fcf90/tct/pct/ahr/bo2/tt0/th1/ta1/tb2"
                frameborder="0" width="265" height="18" allowTransparency="true"></iframe>
      </div>
    </div>
    <div id="topnav">
      <h1>mijnrally.nl Rally Center {{ year }}</h1>
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/schedule/">Schedule</a></li>
        <li><a href="/member/">Members</a></li>
        <li><a href="/team/">Teams</a></li>
        <li><a href="/teamcup/standings/">Team Cups</a></li>
        <li><a href="/champ/">Championships</a></li>
        <li><a href="/tools/">Tools</a></li>
        <li><a target="_blank" href="http://rfh-2013.appspot.com/champ/">2013</a></li>
        <li><a target="_blank" href="http://mijnrally.nl/">mijnrally.nl</a></li>
      </ul>
    </div>
    {% block content %}{% endblock %}

    <div id="footer">
      <p>
        &copy;2009-{{ year }} <a href="mailto:sdidit@gmail.com">SDI</a><br>
        <a href="http://www.sdidit.nl/">SdidIT Consultancy</a><br>
        Source available on <a href="https://bitbucket.org/sdidit/rfhresult">Bitbucket</a>
      </p>
      <img src="http://developers.google.com/appengine/images/appengine-silver-120x30.gif"
           alt="Powered by Google App Engine"/>

      {% if now %}<p>Page generated on {{ now }}</p>{% endif %}
    </div>

  {% endblock %}

  {% block js_deferred %}
  {% endblock %}
  </body>
  </html>
{% endspaceless %}
