{% extends "main_champ_main_base.html" %}

{% block champ_sub %}
  {{ block.super }}

  <table class="main">
  <tr>
  <td class="roadbook">

  <h2 xmlns="http://www.w3.org/1999/html">
    {{ rally.name }} roadbook
  </h2>

  <ul>
    <li>{{ rally.period_str }}</li>
    {% if rally.leg_count %}
      <li>{{ rally.leg_count }} legs, {{ rally.stage_count }} stages</li>
    {% endif %}
    {% if rally.is_roadbook_available %}
      <li><a href="csv/{{ rally.get_import_name|urlencode }}.txt">Download as CSV</a></li>
    {% endif %}
    {% if admin %}
      <li><a href="/admin/rally/{{ rally.key }}/">Administrate rally</a></li>{% endif %}
    {% if rally.show_provisional_results %}
      <li><a href="/rally/{{ rally.key }}/prov_results/?class={{ class|urlencode }}&amp;filter={{ filter }}">Provisional
        result</a></li>
    {% endif %}
  </ul>

  {% if rally.is_finished %}
    <p><a href="/rally/{{ rally.key }}/results/?class={{ class|urlencode }}&amp;filter={{ filter }}">Overall result</a>
    </p>
  {% endif %}

  {% if rally.image_data %}
    <p><img class="flyer" src="/rally/{{ rally.key }}/image/" alt="flyer"/></p>
  {% endif %}

  {% if not rally.is_roadbook_available %}
    <p>Roadbook will be published on {{ rally.roadbook_publish_date_str }}.</p>
  {% endif %}
  </td>

  {% if rally.is_roadbook_available %}
  <td class="roadbook">
    <table class="stages">
      {% if rally.champ.team_cup %}
        <tr class="rowl">
          <td colspan=8>Official Team Presentation</td>
        </tr>
      {% endif %}
      <tr class="rowl">
        <td colspan=8>Pre-start Party</td>
      </tr>
      <tr class="rowl">
        <td colspan=8>Start of Rally</td>
      </tr>
      {% for stage in rally.stages %}
        {% if stage.is_first_in_leg %}
          {% if not forloop.first %}
            <tr class="rowl">
              <td colspan=8>End of Leg</td>
            </tr>
          {% endif %}
          <tr>
            <th>SS</th>
            <th>Name</th>
            <th>RBR stage</th>
            <th>Mod</th>
            <th>Weather</th>
            <th>Wear</th>
            <th>Grip</th>
            <th>Time</th>
          </tr>
        {% else %}
          {% if stage.tyre_change %}
            <tr>
              <td class="rowh" colspan="8">Service</td>
            </tr>
          {% endif %}
        {% endif %}
        <tr class="row3">
          <td><a
              href="/rally/{{ rally.key }}/results/?class={{ class|urlencode }}&amp;filter={{ filter }}&amp;stage={{ forloop.counter }}">SS{{ forloop.counter }}</a>
          </td>
          <td>{{ stage.name }}</td>
          {% comment %}<td><a href="/rank/stage/{{ stage.key }}/">{{ stage.rbr_name }}</a></td>{% endcomment %}
          <td>{{ stage.rbr_name }}</td>
          <td>{{ stage.mod }}</td>
          <td>{% if rally.is_weather_forecast_available and stage.weather %}{{ stage.weather }}{% else %}
            TBA{% endif %}</td>
          <td>{% if rally.is_weather_forecast_available and stage.wear %}{{ stage.wear }}{% else %}TBA{% endif %}</td>
          <td>{% if rally.is_weather_forecast_available and stage.grip %}{{ stage.grip }}{% else %}TBA{% endif %}</td>
          <td>{{ stage.time_of_day }}</td>
        </tr>
      {% endfor %}
      <tr class="rowl">
        <td colspan=8>End of Rally</td>
      </tr>
      {% if not rally.champ.is_public %}
        <tr class="rowl">
          <td colspan=8>Publication of the Provisional Final Classification</td>
        </tr>
        <tr class="rowl">
          <td colspan=8>Final Scrutineering</td>
        </tr>
      {% endif %}
      <tr class="rowl">
        <td colspan=8>Publication of the Final Official Classification</td>
      </tr>
    </table>
  </td>
  {% endif %}
</tr>
</table>
{% endblock %}
