{% extends "main_base.html" %}

{% block main_sub %}

  <table class="hdr">
    <tr>
      <td>
        <ul>
          <li>Plugin: {{ champ.plugin }} {{ champ.plugin_version }}</li>
          <li>Allowed classes: {% if champ.fixed_car %}{{ champ.car_classes|first }} {{ champ.fixed_car }}{% else %}
            {{ champ.car_classes|join:", " }}{% endif %}</li>
          <li>Points: {{ champ.points_system }}.
            {% if champ.has_any_bonus %}
              Regular points
              {% if champ.bonus_for_start %} + {{ champ.bonus_for_start }} for starting {% endif %}
              {% if champ.bonus_for_finish %} + {{ champ.bonus_for_finish }} for finishing {% endif %}
              {% if champ.bonus_for_most_wins %} + {{ champ.bonus_for_most_wins }} for most scratches{% endif %}
            {% else %}
              Only regular points
            {% endif %}
          </li>
          {% if champ.external_link %}
            <li><a href="{{ champ.external_link }}" target="_blank">External link</a></li>{% endif %}
          {% if admin %}
            <li><a href="/admin/champ/{{ champ.key }}/">Administrate championship</a></li>{% endif %}
        </ul>
      </td>
      <td>
        <table class="navchamp">
          {% for c in champs %}
            <tr class="rowh">
              <td>
                {% ifequal c.key champ.key %}
                  {{ c.name }}
                {% else %}
                  <a href="/champ/{{ c.key }}/results/?filter={{ filter }}">{{ c.name }}</a>
                {% endifequal %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
  </table>

  <p class="navsub">
    <a href="/champ/{{ champ.key }}/?class={{ class|urlencode }}&amp;filter={{ filter }}"><strong>Standings</strong></a>
    &nbsp;&nbsp;&nbsp;<a href="/champ/{{ champ.key }}/results/?class={{ class|urlencode }}&amp;filter={{ filter }}"><strong>Results</strong></a>
    {% if rfh %}
      &nbsp;&nbsp;&nbsp;<a href="/champ/{{ champ.key }}/drivers/?class={{ class|urlencode }}&amp;filter={{ filter }}"><strong>Participants</strong></a>
    {% endif %}
  </p>

  {% block champ_sub %}
  {% endblock %}

{% endblock %}
