{% extends "main_champ_main_base.html" %}

{% block champ_sub %}
  {{ block.super }}

  <h2>{% if class %}{{ class }} results{% else %}Results{% endif %}</h2>
  {% if rallies.count %}
    <table class="results">
      <tr>
        <th></th>
        <th colspan="2">Rally</th>
      </tr>
      {% for rally in rallies %}
        <tr class="{% if rally.is_in_progress %}current
          {% else %}{% if rally.is_future %}future{% else %}past{% endif %}{% endif %}">
          <td>{{ forloop.counter }}</td>
          <td>{% if rally.image_data %}
            <a href="/rally/{{ rally.key }}/?class={{ class|urlencode }}&amp;filter={{ filter }}">
            <img src="/rally/{{ rally.key }}/image/" alt="flyer"/></a>{% endif %}</td>
          <td>
            <strong>{{ rally.name }}</strong>

            <p>{{ rally.period_str }}</p>
            <ul>
              {% if rally.show_provisional_results %}
                <li>
                  <a href="/rally/{{ rally.key }}/prov_results/?class={{ class|urlencode }}&amp;filter={{ filter }}">Provisional
                    results</a>
                  {% for stage in rally.stage_nrs %}{% if forloop.first %}(SS{% else %},{% endif %}
                    <a href="/rally/{{ rally.key }}/prov_results/?class={{ class|urlencode }}&amp;filter={{ filter }}&amp;stage={{ stage }}">{{ stage }}</a>
                    {% if forloop.last %}){% endif %}{% endfor %}
                </li>
              {% endif %}
              {% if rally.is_finished %}
                <li>
                  <a href="/rally/{{ rally.key }}/results/?class={{ class|urlencode }}&amp;filter={{ filter }}">Results</a>
                  {% for stage in rally.stage_nrs %}{% if forloop.first %}(SS{% else %},{% endif %}
                    <a href="/rally/{{ rally.key }}/results/?class={{ class|urlencode }}&amp;filter={{ filter }}&amp;stage={{ stage }}">{{ stage }}</a>
                    {% if forloop.last %}){% endif %}{% endfor %}
                </li>
                <li>
                  <a href="/rally/{{ rally.key }}/results/csv/
                      {{ rally.name|urlencode }}{% if class %} {{ class }}{% endif %}.csv?class={{ class|urlencode }}&amp;filter={{ filter|urlencode }}">CSV
                    results</a>
                </li>
              {% endif %}
              <li><a href="/rally/{{ rally.key }}/?class={{ class|urlencode }}&amp;filter={{ filter }}">Roadbook</a>
              </li>
              {% if admin %}
                <li><a href="/admin/rally/{{ rally.key }}/">Administrate rally</a></li>{% endif %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Not available.</p>
  {% endif %}

{% endblock %}
