{% extends "main_base.html" %}

{% block main_sub %}

  <ul>
    <li>Country: <img src="/images/flags/{{ member.country }}.gif" alt="{{ member.country }}"/> {{ member.country }}
    </li>
    {% if member.rsrbr_id %}
      <li>RSRBR id: {{ member.rsrbr_id }}</li>{% endif %}
    {% if member.rbrtm_id %}
      <li>RBRTM id: {{ member.rbrtm_id }}</li>{% endif %}
  </ul>

  <h2>Championships</h2>
  <table class="member">
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Plugin</th>
      <th>Position</th>
    </tr>
    {% for driver in drivers %}
      <tr>
        <td><a
            href="/champ/{{ driver.champ.key }}/?class={{ class|urlencode }}&amp;filter={{ filter }}">{{ driver.champ.name }}</a>
        </td>
        <td>{{ driver.car_class }}</td>
        <td>{{ driver.champ.plugin }}</td>
        <td>{{ driver.pos }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
