{% extends "main_champ_main_base.html" %}

{% block champ_sub %}
  {{ block.super }}

  <h2>{% if champ.closed %}Final {% endif %}{% if class %}{{ class }}{% else %}Overall{% endif %} Standings</h2>
  {% if top3 %}
    <table class="top3">
      <tr>
        {% for d in top3 %}
          <td class="trophy"><img src="/images/{% cycle 'first' 'second' 'third' %}.png"/></td>
        {% endfor %}
      </tr>
      <tr>
        {% for d in top3 %}
          <td class="name">
            <img src="/images/flags/{{ d.country }}.gif" alt="{{ d.country }}"/>
            <font size="+1">
              {% if d.member_name %}
                {% if rfh %}
                  {{ d.member_name }}
                {% else %}
                  <strong>{{ d.member_name }}</strong>
                {% endif %}
              {% else %}
                {{ d.name }}
              {% endif %}
            </font><br>
            <strong>{{ d.points }}</strong> points
          </td>
        {% endfor %}
      </tr>
    </table>
  {% endif %}

  {% if rallies %}
    <p><img src="{{ chart_url }}"/></p>
    <p>
      {% if champ.relevant_rally_count %}
        Total points include the best {{ champ.relevant_rally_count }} rally results of each participant.
      {% endif %}
    </p>
    <table class="standings">
      <colgroup span="4" width="0*">
      </colgroup>
      <colgroup span="{{ rallies.count }}" width="50">
      </colgroup>
      <colgroup width="0*">
      </colgroup>
      <tr>
        <th>Pos</th>
        <th>ID</th>
        <th colspan="2">Name</th>
        <th>Team</th>
        {% for rally in rallies %}
          {% if rally.is_finished %}
            <th class="past">{% else %}
            <th class="future">{% endif %}
          <a href="/rally/{{ rally.key }}/results/?class={{ class|urlencode }}&amp;filter={{ filter }}">{{ forloop.counter }}
              {% if rally.short_name %}<br/>{{ rally.short_name }}{% endif %}</a></th>
        {% endfor %}
        <th>Total</th>
      </tr>
      {% for s in standings %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>{{ s.pos_str }}</td>
          <td>{{ s.plugin_id }}</td>
          <td><img src="/images/flags/{{ s.country }}.gif" alt="{{ s.country }}"/></td>
          <td>
            {% if s.member_name %}
              {% if rfh %}
                {{ s.member_name }}
              {% else %}
                <strong>{{ s.member_name }}</strong>
              {% endif %}
            {% else %}
              {{ s.name }}
            {% endif %}
          </td>
          <td>{{ s.team }}</td>
          {% for rp in s.rally_points %}
            {% if rp.relevant %}
              <td class="points">
                {% else %}
              <td class="scrap_points">
            {% endif %}
          {% if rp.present %}{{ rp.points }}{% else %}-{% endif %}</td>
          {% endfor %}
          <td class="points"><strong>{{ s.total }}</strong></td>
        </tr>
      {% endfor %}
    </table>
    <p>{{ standings|length }} driver{{ standings|length|pluralize }} accounted for.</p>
  {% else %}
    <p>Not available.</p>
  {% endif %}

{% endblock %}
