{% extends "main_base.html" %}

{% block main_sub %}

  {% for teamcup in standings %}
    <h2>{{ teamcup.name }}</h2>
    {% if teamcup.bonus_for_member_count %}
      Teams will receive bonus points based on the number of team members during a rally:
      <ol>
        {% for bonus in teamcup.bonus_for_member_count %}
          <li>{{ bonus }}</li>
        {% endfor %}
      </ol>
    {% endif %}
    <h3>Championships</h3>
    <ul class="champ">
      {% for champ in teamcup.champ_set %}
        <li><a href="/champ/{{ champ.key }}/">{{ champ.name }}</a></li>
      {% endfor %}
    </ul>

    <h3>Standings</h3>
    <p><img src="{{ teamcup.chart_url }}"/></p>
    <table class="standings">
      <tr>
        <th>Pos</th>
        <th colspan="2">Team</th>
        <th>Points</th>
        {% comment %}{% for rally in teamcup.rallies %}<th>{{ rally.short_name }}</th>{% endfor %}{% endcomment %}
      </tr>
      {% for team_result in teamcup.standings %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>{{ team_result.pos_str }}</td>
          <td><img src="/team/{{ team_result.team.key }}/image/" alt="banner"/></td>
          <td>
            <strong>{{ team_result.team.name }}</strong><br/>
            {% for member_result in team_result.member_results %}
              <br/>{{ member_result }}
            {% endfor %}
          </td>
          <td>
            <strong>{{ team_result.points }}</strong><br/>
            {% for member_result in team_result.member_results %}
              <br/>{{ member_result.points }}
            {% endfor %}
          </td>
          {% comment %}
        {% for team_rally_result in team_result.rally_results %}
          <td>
            {% if team_rally_result %}
              {{ team_rally_result.points }}<br/>
            {% else %}
              -
            {% endif %}
          </td>
        {% endfor %}
        {% endcomment %}
        </tr>
      {% endfor %}
    </table>

    <h3>Time table</h3>
    <p><img src="{{ teamcup.chart2_url }}"/></p>
    <table class="standings">
      <tr>
        <th>Pos</th>
        <th>Team</th>
        {% for rally in teamcup.rallies %}
          {% if rally.is_finished %}
            <th class="past">{% else %}
            <th class="future">{% endif %}
          <a href="/rally/{{ rally.key }}/results/?class=&amp;filter=1">{{ forloop.counter }}{% if rally.short_name %}
            <br/>{{ rally.short_name }}{% endif %}</a></th>
        {% endfor %}
        <th>Total</th>
      </tr>
      {% for team_result in teamcup.standings %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>{{ team_result.pos_str }}</td>
          <td><strong>{{ team_result.team.name }}</strong></td>
          {% for team_rally_result in team_result.rally_results %}
            <td>
              {% if team_rally_result %}
                {{ team_rally_result.points }}<br/>
                {% comment NOT ALIGNED WITH MEMBER NAMES %}
                  {% for member_result in team_rally_result.member_results %}
                    <br/>{{ member_result.points }}
                  {% endfor %}
                {% endcomment %}
              {% else %}
                -
              {% endif %}
            </td>
          {% endfor %}
          <td><strong>{{ team_result.points }}</strong><br/></td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}

{% endblock %}
