{% extends "main_champ_main_base.html" %}

{% block champ_sub %}
  {{ block.super }}

  <p class="navstage">
    <strong>stage</strong>:
    {% ifequal stage 0 %}
      <span class="navcur">All</span>
    {% else %}
      <a href="?class={{ class|urlencode }}&amp;filter={{ filter }}&amp;stage=">All</a>
    {% endifequal %}
    {% for s in rally.stages %}
      {% if s.is_first_in_leg %}&nbsp;-&nbsp;{% else %}|{% endif %}
      {% ifequal s.nr stage %}
        <span class="navcur">{{ s.nr }}</span>
      {% else %}
        <a href="?class={{ class|urlencode }}&amp;stage={{ s.nr }}&amp;filter={{ filter }}">{{ s.nr }}</a>
      {% endifequal %}
    {% endfor %}
    &nbsp;-&nbsp;
    {% if prevstage %}
      <a href="?class={{ class|urlencode }}&amp;stage={{ prevstage }}&amp;filter={{ filter }}">Previous</a>
    {% else %}
      Previous
    {% endif %}
    |
    {% if nextstage %}
      <a href="?class={{ class|urlencode }}&amp;stage={{ nextstage }}&amp;filter={{ filter }}">Next</a>
    {% else %}
      Next
    {% endif %}
  </p>

  <h2>
    {{ rally.name }} {% if provisional %}provisional {% endif %}{% if stage %}SS{{ stage }}{% else %}overall{% endif %}
    results{% if class %} for class {{ class }}{% endif %}
  </h2>

  {% if not rally.is_finished %}
    <p>
      {% if rally.is_in_progress %}
        Rally is still in progress, open from {{ rally.period_str }}.
      {% else %}
        Rally will be open from {{ rally.period_str }}.
      {% endif %}
    </p>
  {% endif %}

  {% if admin %}<p><a href="/admin/rally/{{ rally.key }}/">Administrate rally</a></p>{% endif %}

  {% if rally.is_roadbook_available %}
    {% if stage_obj %}
      <ul>
        {% if stage_obj.name %}
          <li>Stage name: {{ stage_obj.name }}</li>{% endif %}
        {% if stage_obj.rbr_name %}
          <li>RBR stage: <a href="/rank/stage/{{ stage_obj.key }}/">{{ stage_obj.rbr_name }}</a></li>{% endif %}
        {% if stage_obj.mod %}
          <li>Mod: {{ stage_obj.mod }}</li>{% endif %}
        {% if stage_obj.weather %}
          <li>Weather: {{ stage_obj.weather }}</li>{% endif %}
        {% if stage_obj.wear %}
          <li>Wear: {{ stage_obj.wear }}</li>{% endif %}
        {% if stage_obj.grip %}
          <li>Grip: {{ stage_obj.grip }}</li>{% endif %}
        {% if stage_obj.time_of_day %}
          <li>Time of day: {{ stage_obj.time_of_day }}</li>{% endif %}
      </ul>
    {% else %}
      <p><a href="/rally/{{ rally.key }}/?class={{ class|urlencode }}&amp;filter={{ filter }}">Roadbook</a></p>
    {% endif %}
  {% endif %}

  {% if results %}
    <table class="result">
      <tr>
        <th>Pos</th>
        <th colspan="2">Name</th>
        <th>ID</th>
        <th>Class</th>
        <th>Car</th>
        {% ifnotequal stage 0 %}
          <th>Split1</th>
          <th>Split2</th>
        {% endifnotequal %}
        <th>Time</th>
        <th>Diff. first</th>
        <th>Diff. prev.</th>
        {% if rally.is_multisession %}
          <th>Session</th>
        {% endif %}
        {% if not stage and not provisional %}
          <th>#Scratch</th>
          <th>Points</th>
          {% if champ.has_any_bonus %}
            <th>Total</th>
          {% endif %}
        {% endif %}
        <th>Status</th>
      </tr>
      {% for result in results %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>{{ result.pos_str }}</td>
          <td><img src="/images/flags/{{ result.country }}.gif" alt="{{ result.country }}"/></td>
          <td>
            {% if result.member_name %}
              {% if rfh %}
                {{ result.member_name }}
              {% else %}
                <strong>{{ result.member_name }}</strong>
              {% endif %}
            {% else %}
              {{ result.name }}
            {% endif %}
          </td>
          <td>{{ result.plugin_id }}</td>
          <td>{{ result.car_class }}</td>
          <td>{{ result.car }}</td>
          {% ifnotequal stage 0 %}
            <td>{{ result.split1 }}</td>
            <td>{{ result.split2 }}</td>
          {% endifnotequal %}
          <td><strong>{{ result.time }}</strong></td>
          <td>{{ result.diff_first_str }}</td>
          <td>{{ result.diff_prev_str }}</td>
          {% if rally.is_multisession %}
            <td>{{ result.session }}</td>
          {% endif %}
          {% if not stage and not provisional %}
            <td>
              {% if result.most_wins_bonus %}
                <strong>{{ result.wins }}</strong>
              {% else %}
                {{ result.wins }}
              {% endif %}
              / {{ result.finishes }}
            </td>
            {% if champ.has_any_bonus %}
              <td>
                {{ result.points }}
                {% if champ.bonus_for_start %} + {{ result.presence_bonus }} {% endif %}
                {% if champ.bonus_for_finish %} + {{ result.finish_bonus }} {% endif %}
                {% if champ.bonus_for_most_wins %} + {{ result.most_wins_bonus }} {% endif %}
              </td>
            {% endif %}
            <td><strong>{{ result.total_points }}</strong></td>
          {% endif %}
          <td>{{ result.status_str }}</td>
        </tr>
      {% endfor %}
    </table>
    <p>{{ results|length }} driver{{ results|length|pluralize }} accounted for.</p>

    {% if full_results_url %}
      <p><a href="{{ full_results_url }}" target=_blank>Full results</a> on {{ champ.plugin }}.</p>
    {% endif %}

    {% if team_results %}
      <h2>{{ champ.team_cup.name }} results</h2>
      <table class="result">
        <tr>
          <th>Pos</th>
          <th colspan="2">Team</th>
          <th>Points</th>
        </tr>
        {% for team_result in team_results %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ team_result.pos_str }}</td>
            <td><img src="/team/{{ team_result.team.key }}/image/" alt="banner"/></td>
            <td>
              <strong>{{ team_result.team.name }}</strong><br/>
              {% for member_result in team_result.member_results %}
                <br/>{{ member_result }}
              {% endfor %}
            </td>
            <td>
              <strong>{{ team_result.points }}</strong><br/>
              {% for member_result in team_result.member_results %}
                <br/>{{ member_result.points }}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

  {% else %}
    <p>No results available.</p>
  {% endif %}

{% endblock %}
