{% extends "main_base.html" %}

{% block main_sub %}
  <h2 id="csv">Roadbook as CSV</h2>
  <p>Download a roadbook in CSV format.</p>

  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}

  <form action="/tools/roadbook/csv/" method="post">
    <p>
      <label for="name">Enter a rally name:</label>
      <input type="text" id="name" name="name" value="{{ name }}"/>
    </p>
    {% if roadbook_names %}
      <p>
        <label for="name2">or select one from the list:</label>
        <select name="name2" id="name2" onchange='document.getElementById("name").value = ""'>
          {% for roadbook_name in roadbook_names %}
            <option value="{{ roadbook_name }}">{{ roadbook_name }}</option>
          {% endfor %}
        </select>
      </p>
    {% endif %}
    <p>
      <input type="submit" value="Download" name="submit"/>
    </p>
  </form>
{% endblock %}
