{% extends "main_base.html" %}

{% block content %}

  <p>
    Welcome to the mijnrally.nl Rally Center.
  </p>

  <table class="main">
    {% if in_progress|length %}
      <tr>
        <td class="main" colspan="3">
          <h2>Rallies in progress</h2>
          {% for rally in in_progress %}
            <h3>{{ rally.name }}</h3>
            {{ rally.period_str }}
            {% if rally.leg_count %}
              <p>{% if rally.is_multiple_legs %}{{ rally.leg_count }} legs{% else %}1 leg{% endif %}, {{ rally.stage_count }} stages</p>
            {% endif %}
            <p>
              <a href="/champ/{{ rally.champ.key }}/results/">{{ rally.champ.name }}</a> hosted on {{ rally.champ.plugin }}.
            </p>
            <p>
              <a href="/rally/{{ rally.key }}/">
                {% if rally.image_data %}
                  <img src="/rally/{{ rally.key }}/image/" alt="roadbook"/>
                {% else %}
                  Roadbook
                {% endif %}
              </a>
            </p>
          {% endfor %}
        </td>
      </tr>
    {% endif %}

    <tr>
      <td class="main">
      {% if not in_progress|length %}
        <h2>Rallies in progress</h2>
        No rallies in progress.
      {% endif %}
      {% if past|length %}
        <h2>Past rallies</h2>
        {% for rally in past %}
          <h3>{{ rally.name }}</h3>
          {{ rally.period_str }}
          {% if rally.leg_count %}
            <p>{% if rally.is_multiple_legs %}{{ rally.leg_count }} legs{% else %}1 leg{% endif %}, {{ rally.stage_count }} stages</p>
          {% endif %}
          {% if rally.winner %}
            <p>Winner: {{ rally.winner }}</p>
          {% endif %}
          <p>
            <a href="/champ/{{ rally.champ.key }}/results/">{{ rally.champ.name }}</a> hosted on {{ rally.champ.plugin }}.
          </p>
          <p>
            <a href="/rally/{{ rally.key }}/results/">
              {% if rally.image_data %}
                <img src="/rally/{{ rally.key }}/image/" alt="results" width="240"/>
              {% else %}
                Results
              {% endif %}
            </a>
          </p>
        {% endfor %}
      {% endif %}
      </td>

      <td class="main">
      {% if news %}
        <h2>News</h2>
        {% for n in news %}
          <h3>{{ n.date_str }}{% if n.title %}: {% if n.link %}<a href="{{ n.link }}">{% endif %}{{ n.title }}{% if n.link %}</a>{% endif %}{% endif %}</h3>
          {{ n.body|linebreaks }}
        {% endfor %}
      {% endif %}
      </td>

      <td class="main">
      <h2>Upcoming rallies</h2>
      {% if future|length %}
        {% for rally in future %}
          <h3>{{ rally.name }}</h3>
          {{ rally.period_str }}
          {% if rally.leg_count %}
            <p>{% if rally.is_multiple_legs %}{{ rally.leg_count }} legs{% else %}1 leg{% endif %}, {{ rally.stage_count }} stages</p>
          {% endif %}
          <p>
            <a href="/champ/{{ rally.champ.key }}/results/">{{ rally.champ.name }}</a> hosted on {{ rally.champ.plugin }}.
          </p>
          <p>
            <a href="/rally/{{ rally.key }}/">
              {% if rally.image_data %}
                <img src="/rally/{{ rally.key }}/image/" alt="roadbook" width="240"/>
              {% else %}
                Roadbook
              {% endif %}
            </a>
          </p>
        {% endfor %}
      {% else %}
        <p>No upcoming rallies.</p>
      {% endif %}
      </td>
    </tr>
  </table>

{% endblock %}
