{% extends "main_base.html" %}

{% block main_sub %}

  {% if results %}
    <table class="result">
      <tr>
        <th>Pos</th>
        <th colspan="2">Name</th>
        <th>ID</th>
        <th>Class</th>
        <th>Car</th>
        <th>Split1</th>
        <th>Split2</th>
        <th>Time</th>
        <th>Diff. first</th>
        <th>Diff. prev.</th>
        <th>Date</th>
        <th>Mod</th>
        <th>Weather</th>
        <th>Wear</th>
        <th>Grip</th>
        <th>Rally</th>
        <th>Championship</th>
      </tr>
      {% for result in results %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>{{ result.pos_str }}</td>
          <td><img src="/images/flags/{{ result.country }}.gif" alt="{{ result.country }}"/></td>
          <td>{{ result.name }}</td>
          <td>{{ result.plugin_id }}</td>
          <td>{{ result.car_class }}</td>
          <td>{{ result.car }}</td>
          <td>{{ result.split1 }}</td>
          <td>{{ result.split2 }}</td>
          <td><strong>{{ result.time }}</strong></td>
          <td>{{ result.diff_first_str }}</td>
          <td>{{ result.diff_prev_str }}</td>
          <td>{{ result.rally.sdate_str }}</td>
          <td>{{ result.mod }}</td>
          <td>{{ result.weather }}</td>
          <td>{{ result.wear }}</td>
          <td>{{ result.grip }}</td>
          <td><a href="/rally/{{ result.rally.key }}/">{{ result.rally }}</a></td>
          <td><a href="/champ/{{ result.rally.champ.key }}/results/">{{ result.rally.champ }}</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No times available.</p>
  {% endif %}

{% endblock %}
