{% extends "main_base.html" %}

{% block main_sub %}

  {% if admin %}<p><a href="/admin/team/">Administrate teams</a></p>{% endif %}

  <table class="team">
    {% for team in teams %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td><img src="/team/{{ team.key }}/image/" alt="banner"/></td>
        <td>
          <strong>{{ team.name }}</strong><br/>
          {% for member in team.members %}
            <br/>{{ member }}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
