{% extends "main_base.html" %}

{% block main_sub %}

  {% if admin %}<p><a href="/admin/champ/">Administrate championships</a></p>{% endif %}

  <table class="champ">
    <tr>
      <th>Name</th>
      <th>Plugin</th>
      <th>Classes</th>
    </tr>
    {% for champ in champs %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ champ.key }}/results/?filter=1">{{ champ.name }}</a></td>
        <td>{{ champ.plugin }} {{ champ.plugin_version }}</td>
        <td>{% if champ.fixed_car %}{{ champ.car_classes|first }} {{ champ.fixed_car }}{% else %}
          {{ champ.car_classes|join:", " }}{% endif %}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
