{% extends "main_champ_main_base.html" %}

{% block champ_sub %}
  {{ block.super }}

  <h2>{% if class %}{{ class }} participants{% else %}Participants{% endif %}</h2>
  {% if drivers %}
    {% if champ.driver_nations %}
      <p>Drivers from the following countries participate automatically:</p>
      <ul>
      {% for nation in champ.driver_nations %}
        <li>{{ nation }}</li>
      {% endfor %}
      </ul>
      <h3>Registered</h3>
      <p>Registered drivers can join a team to participate in the team cup.</p>
    {% endif %}
    <table class="participants">
      <tr>
        <th></th>
        <th>ID</th>
        <th colspan="2">Name</th>
        <th>Class</th>
        <th>Since</th>
      </tr>
      {% for driver in drivers %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>{{ forloop.counter }}</td>
          <td>{{ driver.plugin_id }}</td>
          <td><img src="/images/flags/{{ driver.member.country }}.gif" alt="{{ driver.member.country }}"/></td>
          <td><a href="/member/{{ driver.member.key }}/?filter=1">{{ driver.member.name }}</a></td>
          <td>{{ driver.car_class }}</td>
          <td>{{ driver.sdate_str }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Not available.</p>
  {% endif %}

{% endblock %}
