{% extends "main_champ_base.html" %}

{% block champ_sub %}

  {% if champ.is_show_filter %}
    <p class="navfilter">
      <strong>filter</strong>:
      {% for flt in filters %}
        {% ifequal flt.value filter %}
          <span class="navcur">{{ flt.name }}</span>
        {% else %}
          <a href="?class={{ class|urlencode }}&amp;stage={{ stage }}&amp;filter={{ flt.value }}">{{ flt.name }}</a>
        {% endifequal %}
        {% if not forloop.last %}
          {% if forloop.first %}&nbsp;-&nbsp;{% else %}|{% endif %}
        {% endif %}
      {% endfor %}
    </p>
  {% endif %}

  {% if not champ.fixed_car %}
    <p class="navclass">
      <strong>class</strong>:
      {% if class %}
        <a href="?class=&amp;stage={{ stage }}&amp;filter={{ filter }}">All</a>
      {% else %}
        <span class="navcur">All</span>
      {% endif %}
      {% for cls in champ.result_class_names %}
        {% if forloop.first %}&nbsp;-&nbsp;{% else %}|{% endif %}
        {% ifequal cls class %}
          <span class="navcur">{{ cls }}</span>
        {% else %}
          <a href="?class={{ cls|urlencode }}&amp;stage={{ stage }}&amp;filter={{ filter }}">{{ cls }}</a>
        {% endifequal %}
      {% endfor %}
    </p>
  {% endif %}

{% endblock %}
