{% extends "main_base.html" %}

{% block main_sub %}

  {% if admin %}<p><a href="/admin/member/">Administrate members</a></p>{% endif %}

  <table class="member">
    <tr>
      <th colspan="2">Name</th>
      <th>Team</th>
    </tr>
    {% for member in members %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td><img src="/images/flags/{{ member.country }}.gif" alt="{{ member.country }}"/></td>
        <td><a href="{{ member.key }}/?filter=1">{{ member.name }}</a></td>
        <td>{{ member.team.name }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
