{% extends "main_base.html" %}

{% block js_head %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block main_sub %}

  {% if next_event %}
    {% if next_event.rally.is_in_progress %}
      <iframe src="http://free.timeanddate.com/countdown/i3zqeht4/n16/cf12/cm0/cu4/ct0/cs0/ca1/co1/cr0/ss0/cacfff/cpcfff/pc000/tcfff/fn3/fs150/szw320/szh135/tat{{ 'Remaining time for'|urlencode }} {{ next_event|urlencode }}%3A/tac0f0/tpt{{ 'Time passed since the end of'|urlencode }} {{ next_event|urlencode }}%3A/tpcf00/iso{{ next_event.edate_str_iso }}/pa5" frameborder="0" width="800" height="83"></iframe>
    {% else %}
      <iframe src="http://free.timeanddate.com/countdown/i3zqeht4/n16/cf12/cm0/cu4/ct0/cs0/ca1/co1/cr0/ss0/cacfff/cpcfff/pc000/tcfff/fn3/fs150/szw320/szh135/tat{{ 'Remaining time until'|urlencode }} {{ next_event|urlencode }}%3A/tacf00/tpt{{ 'Time passed since the start of'|urlencode }} {{ next_event|urlencode }}%3A/tpc0f0/iso{{ next_event.sdate_str_iso }}/pa5" frameborder="0" width="800" height="83"></iframe>
    {% endif %}
  {% endif %}

  <p><button id="toggle-empty-weeks">Toggle empty weeks</button></p>
  <table class="schedule">
    <tr>
      <th>Week</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Championship</th>
      <th>Rally</th>
      <th>Legs</th>
      <th>Stages</th>
    </tr>
    {% for e in events %}
      <tr class="{% if e.rally %}{% cycle 'row1' 'row2' %}{% else %}row3 empty-week{% endif %}">
        {% if e.count %}
          <td class="{% if e.past %}past{% else %}{% if e.future %}future{% else %}current{% endif %}{% endif %}" rowspan="{{ e.count }}">
            {{ e.week_str }}
          </td>
          <td class="{% if e.past %}past{% else %}{% if e.future %}future{% else %}current{% endif %}{% endif %}" rowspan="{{ e.count }}">
            {{ e.sdate_str }}
          </td>
          <td class="{% if e.past %}past{% else %}{% if e.future %}future{% else %}current{% endif %}{% endif %}" rowspan="{{ e.count }}">
            {{ e.edate_str }}
          </td>
        {% endif %}
        {% if e.rally %}
          <td><a href="/champ/{{ e.rally.champ.key }}/results/?filter=1">{{ e.rally.champ.name }}</a></td>
          <td>
            {% if e.rally.is_finished %}
              <a href="/rally/{{ e.rally.key }}/results/?class={{ class|urlencode }}&amp;filter={{ filter }}">{{ e.rally.name }}</a>
            {% else %}
              <a href="/rally/{{ e.rally.key }}/?class={{ class|urlencode }}&amp;filter={{ filter }}">{{ e.rally.name }}</a>
            {% endif %}
          </td>
          <td>{% if e.rally.leg_count %}{{ e.rally.leg_count }}{% else %}TBA{% endif %}</td>
          <td>{% if e.rally.stage_count %}{{ e.rally.stage_count }}{% else %}TBA{% endif %}</td>
        {% else %}
          <td colspan="4"></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

{% endblock %}

{% block js_deferred %}
  <script type="text/javascript">
    var empty_weeks = $('.empty-week');
    $('#toggle-empty-weeks').click(function() { empty_weeks.toggle(); });
  </script>
{% endblock %}
