{% extends "mijnrally_base.html" %}

{% block body %}
  {% if rally %}
    <h4>{{ rally.name }}</h4>

    {% if not rally.is_finished %}
      <p>
        {% if rally.is_in_progress %}
          Rally is nog bezig, open vanaf {{ rally.period_str }}.
        {% else %}
          Rally zal open zijn vanaf {{ rally.period_str }}.
        {% endif %}
      </p>
    {% endif %}

    {% if results %}
      <table class="results">
        {% for result in results %}
          <tr>
            <td>{{ result.pos_str }}</td>
            <td><img src="/images/flags/{{ result.country }}.gif" alt="{{ result.country }}"/></td>
            <td>{% if result.member_name %}{{ result.member_name }}{% else %}{{ result.name }}{% endif %}</td>
            <td>{{ result.time_short }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Geen resultaten beschikbaar.</p>
    {% endif %}

  {% else %}
    <p>Niet beschikbaar.</p>
  {% endif %}

{% endblock %}
