{% extends "mijnrally_base.html" %}

{% block body %}
  {% if standings %}
    <h4>{% if champ.closed %}Eindstand{% else %}Stand{% endif %}&nbsp;{{ champ.name }}</h4>
    <table class="standings">
      {% for d in standings %}
        <tr>
          <td>{{ d.pos }}</td>
          <td><img src="/images/flags/{{ d.country }}.gif" alt="{{ d.country }}"/></td>
          <td>{% if d.member_name %}{{ d.member_name }}{% else %}{{ d.name }}{% endif %}</td>
          <td>{{ d.points }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Niet beschikbaar.</p>
  {% endif %}

{% endblock %}
