{% extends "mijnrally_base.html" %}

{% block body %}

  {% if standings %}
    <table class="standings">
      {% for t in standings %}
        <tr>
          <td>{{ t.pos_str }}</td>
          <td>{{ t.name }}</td>
          <td>{{ t.points }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Niet beschikbaar.</p>
  {% endif %}

{% endblock %}
