{% extends "mijnrally_base.html" %}

{% block body %}

  {% if rallies|length %}
    <div class="upcoming">
      {% if next_event %}
        {% if next_event.rally.is_in_progress %}
          <iframe src="http://free.timeanddate.com/countdown/i3zqeht4/n16/cf12/cm0/cu4/ct1/cs0/ca1/co0/cr0/ss0/cac0f0/cpcf00/pc000/tcfff/fn3/fs100/szw448/szh189/iso{{ next_event.edate_str_iso }}/pa3" frameborder="0" width="150" height="26"></iframe>
        {% else %}
          <iframe src="http://free.timeanddate.com/countdown/i3zqeht4/n16/cf12/cm0/cu4/ct1/cs0/ca1/co0/cr0/ss0/cacf00/cpc0f0/pc000/tcfff/fn3/fs100/szw448/szh189/iso{{ next_event.sdate_str_iso }}/pa3" frameborder="0" width="150" height="26"></iframe>
        {% endif %}
      {% endif %}
      {% for rally in rallies %}
        {% if rally.image_data %}
{#          <h4>{{ rally.period_short_str }} {{ rally.name }}</h4>#}
          <br>
          <a target="_blank" href="/rally/{{ rally.key }}/">
              <img src="/rally/{{ rally.key }}/image/" alt="{{ rally.name }}" {% if width %}width="{{ width }}"{% endif %}/>
              <br>
          </a>
        {% else %}
          <h4><a target="_blank" href="/rally/{{ rally.key }}/">{{ rally.period_short_str }} {{ rally.name }}</a></h4>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <p>Geen aanstaande rallies.</p>
  {% endif %}
{% endblock %}
